<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>day08_assgnment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- Servlet Context  Parameters -->
		<context-param>
			<param-name>driver</param-name>
			<param-value>com.mysql.cj.jdbc.Driver</param-value>
		</context-param>
		<context-param>
			<param-name>DB_url</param-name>
			<param-value>jdbc:mysql://localhost:3306/wbjava_schema?useSSL=false&amp;allowPublicKeyRetrieval=true</param-value>
		</context-param>
		<context-param>
			<param-name>Username</param-name>
			<param-value>root</param-value>
		</context-param>
		<context-param>
			<param-name>Password</param-name>
			<param-value>MySQL@42500191</param-value>
		</context-param>
		
		<!-- Registering Listener using XML -->
 <!-- 		
		<listener>
 				<listener-class>listener.Listen2connectDB</listener-class>
		</listener>
-->		
</web-app>